<?xml version="1.0" encoding="utf-8"?>
<document>
    <product_suites>
        <suite version="9.10">
            <!-- <product name="ADIT" installer="adit_installer" /> -->
            <product name="AGMS" installer="agms_installer" />
            <product name="Centricity" installer="centricity_installer" />
            <product name="ChannelManager" installer="server_installer" />
            <product name="ContactSourceRunner" installer="server_installer" />
            <product name="DADI" installer="dadi_installer" />
            <product name="DBMigration" installer="dbmigration_installer" />
            <product name="EvaluationConsistencyCheck" installer="ecc_installer" />
            <product name="Server" installer="server_installer" />
            <product name="WebApps" installer="webapps_installer" />
            <product name="WMWrapperService" installer="wmwrapperservice_installer" />
        </suite>
        <suite version="10.0">
            <!-- <product name="ADIT" installer="adit_installer" /> -->
            <product name="AGMS" installer="agms_installer" />
            <product name="Centricity" installer="centricity_installer" />
            <product name="ChannelManager" installer="server_installer" />
            <product name="ContactSourceRunner" installer="server_installer" />
            <product name="DADI" installer="dadi_installer" />
            <product name="DBMigration" installer="dbmigration_installer" />
            <product name="EvaluationConsistencyCheck" installer="ecc_installer" />
            <product name="Server" installer="server_installer" />
            <product name="WebApps" installer="webapps_installer" />
            <product name="WMWrapperService" installer="wmwrapperservice_installer" />
        </suite>
        <suite version="10.1">
            <!-- <product name="ADIT" installer="adit_installer" /> -->
            <product name="AGMS" installer="tools_installer" />
            <product name="Centricity" installer="centricity_installer" />
            <product name="ChannelManager" installer="server_installer" />
            <product name="ContactSourceRunner" installer="server_installer" />
            <product name="DADI" installer="tools_installer" />
            <product name="DBMigration" installer="tools_installer" />
            <product name="EvaluationConsistencyCheck" installer="tools_installer" />
            <product name="Server" installer="server_installer" />
            <product name="WebApps" installer="webapps_installer" />
            <product name="WMWrapperService" installer="wmwrapperservice_installer" />
        </suite>
    </product_suites>

    <products>
        <product name="server">
            <component name="PATCH-29">
                <files>
                    <file source="" destination="" />
                    <file source="" destination="" />
                </files>
            </component>
        </product>
    </products>

    </document>
