<?xml version="1.0" encoding="utf-8"?>
<document>
  <product_suites>
    <suite version="9.10">
      <!-- <application name="ADIT" installer="adit_installer" /> -->
      <application name="AGMS" installer="agms_installer" />
      <application name="Centricity" installer="centricity_installer" />
      <application name="ChannelManager" installer="server_installer" />
      <application name="ContactSourceRunner" installer="server_installer" />
      <application name="DADI" installer="dadi_installer" />
      <application name="DBMigration" installer="dbmigration_installer" />
      <application name="EvaluationConsistencyCheck" installer="ecc_installer" />
      <application name="Server" installer="server_installer" />
      <application name="WebApps" installer="webapps_installer" />
      <application name="WMWrapperService" installer="wmwrapperservice_installer" />
    </suite>
    <suite version="10.0">
      <!-- <application name="ADIT" installer="adit_installer" /> -->
      <application name="AGMS" installer="agms_installer" />
      <application name="Centricity" installer="centricity_installer" />
      <application name="ChannelManager" installer="server_installer" />
      <application name="ContactSourceRunner" installer="server_installer" />
      <application name="DADI" installer="dadi_installer" />
      <application name="DBMigration" installer="dbmigration_installer" />
      <application name="EvaluationConsistencyCheck" installer="ecc_installer" />
      <application name="Server" installer="server_installer" />
      <application name="WebApps" installer="webapps_installer" />
      <application name="WMWrapperService" installer="wmwrapperservice_installer" />
    </suite>
    <suite version="10.1">
      <!-- <application name="ADIT" installer="adit_installer" /> -->
      <application name="AGMS" installer="tools_installer" />
      <application name="Centricity" installer="centricity_installer" />
      <application name="ChannelManager" installer="server_installer" />
      <application name="ContactSourceRunner" installer="server_installer" />
      <application name="DADI" installer="tools_installer" />
      <application name="DBMigration" installer="tools_installer" />
      <application name="EvaluationConsistencyCheck" installer="tools_installer" />
      <application name="Server" installer="server_installer" />
      <application name="WebApps" installer="webapps_installer" />
      <application name="WMWrapperService" installer="wmwrapperservice_installer" />
    </suite>
  </product_suites>

  <!-- Hierarchy:
  1: patch
    - Patches are additive.  They have a built-in history, and contain valuable information about what happened when.
    - See notes below.
  2: application
    - don't care (much) about which installer contains them
  3: component
    - including one component per Jira issue (PATCH-32, PATCH-78, etc.); let's see how it goes
  4: files
    - including relative paths to sources and destinations
    - duplication: live with it


  Q: Single patch or multiple (one per release, cumulative)?
  A: Multiple!
  
  Q: Why?
  A: Imagine the first patch.  It includes just a few files.  For the second patch we add a few more.  Now we've got
     files from two patches, and no sense of where they came from.  Let's not do that.
  
  Q: What about files that are added and later removed?  Will they be included forever once they've been added?
  A: Maybe.  It's something to find a solution for, but maybe not right away.
  -->
  
  <patch version="10.1.14">
    <application name="Server">
      <component name="PATCH-78">
        <files>
          <file source="" destination="" />
          <file source="" destination="" />
        </files>
      </component>
    </application>
  </patch>

</document>
