<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/PacManLog.xml">
      <layout xsi:type="LayoutWithHeaderAndFooter">
        <header xsi:type="SimpleLayout" text="&lt;Logs&gt;"/>
        <layout xsi:type="SimpleLayout">
          <text>
            <![CDATA[
              <message>${date} ${xml-encode:${message}}</message>
            ]]>
          </text>
        </layout>
        <footer xsi:type="SimpleLayout" text="&lt;/Logs&gt;"/>
      </layout>
    </target>
    <target name="console" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>