[Server]
serverRoot = .
Administrator.exe = .\Administrator.exe
AgentAutomation.dll = .\AgentAutomation.dll
AlvasAudio.dll = .\AlvasAudio\AlvasAudio.dll
AlvasAudio.pdb = .\AlvasAudio.pdb
AlvasAudio.tlb = .\AlvasAudio.tlb
App_Code.compiled = .\bin\App_Code.compiled
App_global.asax.compiled = .\bin\App_global.asax.compiled
App_GlobalResources.compiled = .\bin\App_GlobalResources.compiled
centricity.dll = .\bin\centricity.dll
centricity.pdb = .\bin\centricity.pdb
Centricity_BLL.dll = .\bin\Centricity_BLL.dll
Centricity_BLL.pdb = .\bin\Centricity_BLL.pdb
Centricity_BLL.XmlSerializers.dll = .\bin\Centricity_BLL.XmlSerializers.dll
Centricity_DAL.dll = .\bin\Centricity_DAL.dll
Centricity_DAL.pdb = .\bin\Centricity_DAL.pdb
Centricity_deploy.resources.dll_DE = .\bin\de\Centricity_deploy.resources.dll
Centricity_deploy.resources.dll_DE_1 = .\bin\de-DE\Centricity_deploy.resources.dll
Centricity_deploy.resources.dll_ES = .\bin\es\Centricity_deploy.resources.dll
Centricity_deploy.dll = .\Centricity_deploy.dll
Centricity_SCA.dll = .\bin\Centricity_SCA.dll
Centricity_Shared.dll = .\bin\Centricity_Shared.dll
Centricity_Shared.pdb = .\Centricity_Shared.pdb
ChannelBrokerService.xml = .\C2CServiceDescriptions\ChannelBrokerService.xml
CiscoICM.dll = .\ContactSourceRunner\CiscoICM.dll
CommonUpdates.xml = .\DatabaseUpdates\CommonUpdates.xml
ContactSourceRunner.bat = .\ContactSourceRunner\ContactSourceRunner.bat
ContactSources.properties = .\ContactSourceRunner\ContactSources.properties
cstaLoader.dll = .\ContactSourceRunner\cstaLoader.dll
cstaLoader.pdb = .\ContactSourceRunner\cstaLoader.pdb
cstaLoader_1_2.dll = .\ContactSourceRunner\cstaLoader_1_2.dll
cstaLoader_1_3_3.dll = .\ContactSourceRunner\cstaLoader_1_3_3.dll
cstaLoader_3_33.dll = .\ContactSourceRunner\cstaLoader_3_33.dll
cstaLoader_6_4_3.dll = .\ContactSourceRunner\cstaLoader_6_4_3.dll
cstaLoader_9_1.dll = .\ContactSourceRunner\cstaLoader_9_1.dll
cstaLoader_9_5.dll = .\ContactSourceRunner\cstaLoader_9_5.dll
ctcLoader_6.0.dll = .\ContactSourceRunner\ctcLoader_6.0.dll
ctcLoader_6_0.pdb = .\ContactSourceRunner\ctcLoader_6_0.pdb
ctcLoader_7.0.dll = .\ContactSourceRunner\ctcLoader_7.0.dll
ctcLoader_7_0.pdb = .\ContactSourceRunner\ctcLoader_7_0.pdb
client.properties = .\client.properties
Default.aspx = .\Home\Send\Default.aspx
EditEvaluation.aspx = .\PerformanceManagement\Evaluations\EditEvaluation.aspx
Envision.jar = .\Envision.jar|.\WebServer\webapps\ET\WEB-INF\lib\Envision.jar|.\wwwroot\EnvisionComponents\Envision.jar
envision_schema.xml = .\envision_schema.xml
envision_schema_central.xml = .\envision_schema_central.xml
EnvisionControls.cab = .\WebServer\webapps\ET\ETReporting\EnvisionControls.cab
EnvisionServer.bat = .\EnvisionServer.bat
EnvisionServer.exe_1 = .\EnvisionServer.exe
EnvisionTheme.css = .\App_Themes\EnvisionTheme\EnvisionTheme.css
ETContactSource.exe = .\ContactSourceRunner\ETContactSource.exe
ETContactSource.pdb = .\ContactSourceRunner\ETContactSource.pdb
ETScheduleService.xml = .\C2CServiceDescriptions\ETScheduleService.xml
ETService.exe = .\ETService.exe
jtapi.jar = .\JRE\lib\ext\jtapi.jar
JtapiItemService.xml = .\C2CServiceDescriptions\JtapiItemService.xml
jtracing.jar = .\JRE\lib\ext\jtracing.jar
log4j.properties.template = .\ContactSourceRunner\log4j.properties.template
manifest.xml = .\ArchitectureServiceDescriptions\manifest.xml
manifest.xml_2 = .\C2CServiceDescriptions\manifest.xml
MSSQLUpdate_build_10.0.0303.1.xml = .\DatabaseUpdates\Common\10.0\MSSQLUpdate_build_10.0.0303.1.xml
MSSQLUpdate_build_10.1.2.0.xml = .\DatabaseUpdates\Common\10.1\MSSQLUpdate_build_10.1.2.0.xml
nativeServiceWin32.dll = .\nativeServiceWin32.dll|.\ContactSourceRunner\nativeServiceWin32.dll
NetMerge.dll = .\ContactSourceRunner\NetMerge.dll
NetMerge.pdb = .\ContactSourceRunner\NetMerge.pdb
NewEvaluation.aspx = .\PerformanceManagement\Evaluations\NewEvaluation.aspx
RadEditor.skin = .\App_Themes\EnvisionTheme\RadEditor.skin
RAL.dll = .\bin\RAL.dll
RAL.pdb = .\bin\RAL.pdb
server.dll = .\bin\server.dll
server.pdb = .\bin\server.pdb
SIP_events.properties = .\ChannelManager\SIP_events.properties
SiteToGroupAgentMover.ascx = .\UserControls\Movers\SiteToGroupAgentMover.ascx
SiteToGroupAgentMover.ascx.resx = .\UserControls\Movers\App_LocalResources\SiteToGroupAgentMover.ascx.resx
SiteToGroupAgentMover.ascx.de.resx = .\UserControls\Movers\App_LocalResources\SiteToGroupAgentMover.ascx.de.resx
SiteToGroupAgentMover.ascx.es.resx = .\UserControls\Movers\App_LocalResources\SiteToGroupAgentMover.ascx.es.resx
SourceRunnerService.exe = .\ContactSourceRunner\SourceRunnerService.exe
SourceRunnerService.pdb = .\ContactSourceRunner\SourceRunnerService.pdb
TeliaCallGuide.dll = .\ContactSourceRunner\TeliaCallGuide.dll
TeliaCallGuide.pdb = .\ContactSourceRunner\TeliaCallGuide.pdb
TokenService.xml = .\ArchitectureServiceDescriptions\TokenService.xml
Tsapi.dll = .\ContactSourceRunner\Tsapi.dll
Tsapi.pdb = .\ContactSourceRunner\Tsapi.pdb
updater.jar = .\JRE\lib\ext\updater.jar
dumpbin.exe = .\LAA-BIN\dumpbin.exe
EnvisionServer.exe = .\LAA-BIN\EnvisionServer.exe
java.exe = .\LAA-BIN\java.exe
javaw.exe = .\LAA-BIN\javaw.exe
AlvasAudio.bat = .\AlvasAudio\AlvasAudio.bat
gacutil.exe = .\AlvasAudio\gacutil.exe
regasm.exe = .\AlvasAudio\regasm.exe
[ChannelManager]
cmRoot = .
AlvasAudio.bat = .\AlvasAudio\AlvasAudio.bat
AlvasAudio.dll = .\AlvasAudio\AlvasAudio.dll
AlvasAudio.pdb = .\AlvasAudio.pdb
AlvasAudio.tlb = .\AlvasAudio.tlb
audiocodesChannel.dll = .\audiocodesChannel.dll
audiocodesChannel.pdb = .\audiocodesChannel.pdb
AudioReader.dll = .\AudioReader.dll
AudioReader.pdb = .\AudioReader.pdb
AvayaVoipChannel.dll = .\AvayaVoipChannel.dll
AvayaVoipChannel.pdb = .\AvayaVoipChannel.pdb
Chanmgr_common.xsd = .\Chanmgr_common.xsd
ChanMgrSvc.exe = .\ChanMgrSvc.exe
ChanMgrSvc.pdb = .\ChanMgrSvc.pdb
ChanMgrSvc.SIP.config = .\ChanMgrSvc.SIP.config
ChannelManager.SIP.xml = .\ChannelManager.SIP.xml
DemoModeChannel.dll = .\DemoModeChannel.dll
DemoModeChannel.pdb = .\DemoModeChannel.pdb
DialogicChannel.dll = .\DialogicChannel.dll
DialogicChannel.pdb = .\DialogicChannel.pdb
DialogicChannel60.dll = .\DialogicChannel60.dll
DialogicChannel60.pdb = .\DialogicChannel60.pdb
DMCCConfigLib.dll = .\DMCCConfigLib.dll
DMCCConfigLib.pdb = .\DMCCConfigLib.pdb
dmcc_devices.bat = .\dmcc_devices.bat
DMCCWrapperLib.dll = .\DMCCWrapperLib.dll
DMCCWrapperLib.pdb = .\DMCCWrapperLib.pdb
DMCCWrapperLib.tlb = .\DMCCWrapperLib.tlb
gacutil.exe = .\AlvasAudio\gacutil.exe
IPXChannel.dll = .\IPXChannel.dll
IPXChannel.pdb = .\IPXChannel.pdb
regasm.exe = .\AlvasAudio\regasm.exe
RtpTransmitter.dll = .\RtpTransmitter.dll
RtpTransmitter.pdb = .\RtpTransmitter.pdb
server.dll = .\SIPGateway\server.dll
server.pdb = .\SIPGateway\server.pdb
SIPChannel.dll = .\SIPChannel.dll
SIPChannel.pdb = .\SIPChannel.pdb
SIPConfigLib.dll = .\SIPConfigLib.dll
SIPConfigLib.pdb = .\SIPConfigLib.pdb
SIPPhone.dll = .\SIPPhone.dll
SIPPhone.pdb = .\SIPPhone.pdb
SIPWrapperLib.dll = .\SIPWrapperLib.dll
SIPWrapperLib.pdb = .\SIPWrapperLib.pdb
SIPWrapperLib.tlb = .\SIPWrapperLib.tlb
SIP_events.properties = .\SIP_events.properties
states.BIB.xml = .\states.BIB.xml
EnvisionSR.bat = .\EnvisionSR\EnvisionSR.bat
EnvisionSR.reg = .\EnvisionSR\EnvisionSR.reg
instsrv.exe = .\EnvisionSR\instsrv.exe
sleep.exe = .\EnvisionSR\sleep.exe
srvany.exe = .\EnvisionSR\srvany.exe
svcmgr.exe = .\EnvisionSR\svcmgr.exe
GatewayLib.dll = .\SIPGateway\GatewayLib.dll
GatewayLib.pdb = .\SIPGateway\GatewayLib.pdb
GatewayLogging.xml = .\SIPGateway\GatewayLogging.xml
InstallSIPGateway.bat = .\SIPGateway\InstallSIPGateway.bat
UninstallSIPGateway.bat = .\SIPGateway\UninstallSIPGateway.bat
InstallUtil.exe = .\SIPGateway\InstallUtil.exe
LumiSoft.Net.dll = .\LumiSoft.Net.dll|.\SIPGateway\LumiSoft.Net.dll
LumiSoft.Net.pdb = .\LumiSoft.Net.pdb|.\SIPGateway\LumiSoft.Net.pdb
LumiSoft.Net.xml = .\LumiSoft.Net.xml|.\SIPGateway\LumiSoft.Net.xml
log4net.dll = .\SIPGateway\log4net.dll
sc.exe = .\SIPGateway\sc.exe
SIPGateway.exe = .\SIPGateway\SIPGateway.exe
SIPGateway.exe.config = .\SIPGateway\SIPGateway.exe.config
SIPGateway.pdb = .\SIPGateway\SIPGateway.pdb
SIPWrapperLogging.xml = .\SIPWrapperLogging.xml
[WMWrapperService]
wmwsRoot = .
DefaultEnvisionProfile.prx = .\DefaultEnvisionProfile.prx
server.dll = .\server.dll
WMWrapperService.exe = .\WMWrapperService.exe
[Tools]
toolsRoot = .
DBMigration_84SP9_To_10.sql = .\DBMigration\DBMigration_84SP9_To_10.sql
[WebApps]
webappsRoot = .
webapps_version = 10_1_14_0
AVPlayer.application = .\AVPlayer\AVPlayer.application
AgentSupport.exe.deploy = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\AgentSupport.exe.deploy
AVPlayer.exe.config.deploy = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\AVPlayer.exe.config.deploy
AVPlayer.exe.deploy = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\AVPlayer.exe.deploy
AVPlayer.exe.manifest = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\AVPlayer.exe.manifest
CentricityApp.dll.deploy = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\CentricityApp.dll.deploy
hasp_windows.dll.deploy = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\hasp_windows.dll.deploy
Interop.WMPLib.dll.deploy = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\Interop.WMPLib.dll.deploy
log4net.dll.deploy = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\log4net.dll.deploy
nativeServiceWin32.dll.deploy = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\nativeServiceWin32.dll.deploy
server.dll.deploy = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\server.dll.deploy
SharedResources.dll.deploy = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\SharedResources.dll.deploy
ISource.dll.deploy = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\_ISource.dll.deploy
AVPlayer.resources.dll.deploy = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\de\AVPlayer.resources.dll.deploy
AVPlayer.resources.dll.deploy_1 = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\es\AVPlayer.resources.dll.deploy
CentricityApp.resources.dll.deploy = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\de\CentricityApp.resources.dll.deploy
CentricityApp.resources.dll.deploy_1 = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\es\CentricityApp.resources.dll.deploy
AVPlayerIcon.ico.deploy = .\AVPlayer\Application Files\AVPlayer_10_1_14_0\Resources\AVPlayerIcon.ico.deploy
RecordingDownloadTool.application = .\RecordingDownloadTool\RecordingDownloadTool.application
CentricityApp.dll.deploy_1 = .\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\CentricityApp.dll.deploy
log4net.dll.deploy_1 = .\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\log4net.dll.deploy
RecordingDownloadTool.exe.config.deploy = .\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\RecordingDownloadTool.exe.config.deploy
RecordingDownloadTool.exe.deploy = .\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\RecordingDownloadTool.exe.deploy
RecordingDownloadTool.exe.manifest = .\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\RecordingDownloadTool.exe.manifest
server.dll.deploy_1 = .\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\server.dll.deploy
sox.exe.deploy = .\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\sox.exe.deploy
CentricityApp.resources.dll.deploy_2 = .\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\de\CentricityApp.resources.dll.deploy
CentricityApp.resources.dll.deploy_3 = .\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\es\CentricityApp.resources.dll.deploy
RecordingDownloadTool.resources.dll.deploy = .\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\de\RecordingDownloadTool.resources.dll.deploy
RecordingDownloadTool.resources.dll.deploy_1 = .\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\es\RecordingDownloadTool.resources.dll.deploy
