[Sources]
srcRoot = ..\..\..\..\..\..
webapps_version = 10_1_14_0
Administrator.exe = ..\..\..\..\..\..\src\clients\admin\Administrator\Release\Administrator.exe
AgentAutomation.dll = ..\..\..\..\..\..\src\apis\automationapi\Release\AgentAutomation.dll
AlvasAudio.dll = ..\..\..\..\..\..\workdir\SharedResources\AlvasAudio.dll
AlvasAudio.pdb = ..\..\..\..\..\..\workdir\SharedResources\AlvasAudio.pdb
AlvasAudio.tlb = ..\..\..\..\..\..\workdir\SharedResources\AlvasAudio.tlb
AlvasAudio.bat = ..\..\..\..\..\..\config\chanmgr\AlvasAudio.bat
App_Code.compiled = ..\..\..\..\..\..\workdir\centricity\ET\bin\App_Code.compiled
App_global.asax.compiled = ..\..\..\..\..\..\workdir\centricity\ET\bin\App_global.asax.compiled
App_GlobalResources.compiled = ..\..\..\..\..\..\workdir\centricity\ET\bin\App_GlobalResources.compiled
audiocodesChannel.dll = ..\..\..\..\..\..\workdir\ChannelManager\audiocodesChannel.dll
audiocodesChannel.pdb = ..\..\..\..\..\..\workdir\ChannelManager\audiocodesChannel.pdb
AudioReader.dll = ..\..\..\..\..\..\workdir\ChannelManager\AudioReader.dll
AudioReader.pdb = ..\..\..\..\..\..\workdir\ChannelManager\AudioReader.pdb
AvayaVoipChannel.dll = ..\..\..\..\..\..\workdir\ChannelManager\AvayaVoipChannel.dll
AvayaVoipChannel.pdb = ..\..\..\..\..\..\workdir\ChannelManager\AvayaVoipChannel.pdb
centricity.dll = ..\..\..\..\..\..\workdir\centricity\ET\bin\centricity.dll
centricity.pdb = ..\..\..\..\..\..\workdir\centricity\ET\bin\centricity.pdb
Centricity_BLL.dll = ..\..\..\..\..\..\workdir\Centricity\ET\bin\Centricity_BLL.dll
Centricity_BLL.pdb = ..\..\..\..\..\..\workdir\Centricity\ET\bin\Centricity_BLL.pdb
Centricity_BLL.XmlSerializers.dll = ..\..\..\..\..\..\workdir\centricity\ET\bin\Centricity_BLL.XmlSerializers.dll
Centricity_DAL.dll = ..\..\..\..\..\..\workdir\centricity\ET\bin\Centricity_DAL.dll
Centricity_DAL.pdb = ..\..\..\..\..\..\workdir\centricity\ET\bin\Centricity_DAL.pdb
Centricity_deploy.dll = ..\..\..\..\..\..\workdir\centricity\ET\bin\Centricity_deploy.dll
Centricity_SCA.dll = ..\..\..\..\..\..\workdir\centricity\ET\bin\Centricity_SCA.dll
Centricity_deploy.resources.dll_DE = ..\..\..\..\..\..\workdir\centricity\ET\bin\de\Centricity_deploy.resources.dll
Centricity_deploy.resources.dll_DE_1 = ..\..\..\..\..\..\workdir\centricity\ET\bin\de-DE\Centricity_deploy.resources.dll
Centricity_deploy.resources.dll_ES = ..\..\..\..\..\..\workdir\centricity\ET\bin\es\Centricity_deploy.resources.dll
Centricity_Shared.dll = ..\..\..\..\..\..\workdir\centricity\ET\bin\Centricity_Shared.dll
Centricity_Shared.pdb = ..\..\..\..\..\..\workdir\centricity\ET\bin\Centricity_Shared.pdb
Chanmgr_common.xsd = ..\..\..\..\..\..\config\chanmgr\Chanmgr_common.xsd
ChanMgrSvc.exe = ..\..\..\..\..\..\workdir\ChannelManager\ChanMgrSvc.exe
ChanMgrSvc.pdb = ..\..\..\..\..\..\workdir\ChannelManager\ChanMgrSvc.pdb
ChanMgrSvc.SIP.config = ..\..\..\..\..\..\config\chanmgr\ChanMgrSvc.SIP.config
ChannelBrokerService.xml = ..\..\..\..\..\..\config\server\C2CServiceDescriptions\ChannelBrokerService.xml
ChannelManager.SIP.xml = ..\..\..\..\..\..\config\chanmgr\ChannelManager.SIP.xml
CiscoICM.dll = ..\..\..\..\..\..\workdir\ContactSourceRunner\CiscoICM.dll
client.properties = ..\..\..\..\..\..\config\clients\client.properties
CommonUpdates.xml = ..\..\..\..\..\..\config\server\DatabaseUpdates\CommonUpdates.xml
ContactSourceRunner.bat = ..\..\..\..\..\..\config\sourcerunnerservice\ContactSourceRunner.bat
ContactSources.properties = ..\..\..\..\..\..\config\sourcerunnerservice\ContactSources.properties
cstaLoader.dll = ..\..\..\..\..\..\workdir\ContactSourceRunner\cstaLoader.dll
cstaLoader.pdb = ..\..\..\..\..\..\src\contactsources\tsapi\cstaLoader\Release\cstaLoader.pdb
cstaLoader_1_2.dll = ..\..\..\..\..\..\workdir\ContactSourceRunner\cstaLoader_1_2.dll
cstaLoader_1_3_3.dll = ..\..\..\..\..\..\workdir\ContactSourceRunner\cstaLoader_1_3_3.dll
cstaLoader_3_33.dll = ..\..\..\..\..\..\workdir\ContactSourceRunner\cstaLoader_3_33.dll
cstaLoader_6_4_3.dll = ..\..\..\..\..\..\workdir\ContactSourceRunner\cstaLoader_6_4_3.dll
cstaLoader_9_1.dll = ..\..\..\..\..\..\workdir\ContactSourceRunner\cstaLoader_9_1.dll
cstaLoader_9_5.dll = ..\..\..\..\..\..\workdir\ContactSourceRunner\cstaLoader_9_5.dll
ctcLoader_6.0.dll = ..\..\..\..\..\..\workdir\ContactSourceRunner\ctcLoader_6.0.dll
ctcLoader_6_0.pdb = ..\..\..\..\..\..\src\contactsources\netmerge\ctcLoader_6_0\Release\ctcLoader_6_0.pdb
ctcLoader_7.0.dll = ..\..\..\..\..\..\workdir\ContactSourceRunner\ctcLoader_7.0.dll
ctcLoader_7_0.pdb = ..\..\..\..\..\..\src\contactsources\netmerge\ctcLoader_7_0\Release\ctcLoader_7_0.pdb
DBMigration_84SP9_To_10.sql = ..\..\..\..\..\..\src\tools\DBMigration\v2\DBMigration_84SP9_To_10.sql
Default.aspx = ..\..\..\..\..\..\workdir\centricity\ET\Home\Send\Default.aspx
DefaultEnvisionProfile.prx = ..\..\..\..\..\..\src\winservices\WMWrapperService\DefaultEnvisionProfile.prx
DemoModeChannel.dll = ..\..\..\..\..\..\workdir\ChannelManager\DemoModeChannel.dll
DemoModeChannel.pdb = ..\..\..\..\..\..\workdir\ChannelManager\DemoModeChannel.pdb
DialogicChannel.dll = ..\..\..\..\..\..\workdir\ChannelManager\DialogicChannel.dll
DialogicChannel.pdb = ..\..\..\..\..\..\workdir\ChannelManager\DialogicChannel.pdb
DialogicChannel60.dll = ..\..\..\..\..\..\workdir\ChannelManager\DialogicChannel60.dll
DialogicChannel60.pdb = ..\..\..\..\..\..\workdir\ChannelManager\DialogicChannel60.pdb
DMCCConfigLib.dll = ..\..\..\..\..\..\workdir\ChannelManager\DMCCConfigLib.dll
DMCCConfigLib.pdb = ..\..\..\..\..\..\workdir\ChannelManager\DMCCConfigLib.pdb
dmcc_devices.bat = ..\..\..\..\..\..\src\tools\chanmgr\dmcc_devices.bat
DMCCWrapperLib.dll = ..\..\..\..\..\..\workdir\ChannelManager\DMCCWrapperLib.dll
DMCCWrapperLib.pdb = ..\..\..\..\..\..\workdir\ChannelManager\DMCCWrapperLib.pdb
DMCCWrapperLib.tlb = ..\..\..\..\..\..\workdir\ChannelManager\DMCCWrapperLib.tlb
EditEvaluation.aspx = ..\..\..\..\..\..\workdir\centricity\ET\PerformanceManagement\Evaluations\EditEvaluation.aspx
Envision.jar = ..\..\..\..\..\..\Release\Envision.jar
EnvisionControls.cab = ..\..\..\..\..\..\setup\Signature\EnvisionControls.cab
EnvisionServer.bat = ..\..\..\..\..\..\config\server\EnvisionServer.bat
EnvisionServer.exe_1 = ..\..\..\..\..\..\workdir\etservice\EnvisionServer.exe
EnvisionSR.bat = ..\..\..\..\..\..\src\tools\Scripts\ChannelManager\EnvisionSR\EnvisionSR.bat
EnvisionSR.reg = ..\..\..\..\..\..\src\tools\Scripts\ChannelManager\EnvisionSR\EnvisionSR.reg
envision_schema.xml = ..\..\..\..\..\..\config\server\envision_schema.xml
envision_schema_central.xml = ..\..\..\..\..\..\config\server\envision_schema_central.xml
EnvisionTheme.css = ..\..\..\..\..\..\workdir\centricity\ET\App_Themes\EnvisionTheme\EnvisionTheme.css
ETContactSource.exe = ..\..\..\..\..\..\workdir\ContactSourceRunner\ETContactSource.exe
ETContactSource.pdb = ..\..\..\..\..\..\workdir\ContactSourceRunner\ETContactSource.pdb
ETScheduleService.xml = ..\..\..\..\..\..\config\server\C2CServiceDescriptions\ETScheduleService.xml
ETService.exe = ..\..\..\..\..\..\workdir\etservice\ETService.exe
GatewayLib.dll = ..\..\..\..\..\..\workdir\SharedResources\GatewayLib.dll
GatewayLib.pdb = ..\..\..\..\..\..\workdir\SharedResources\GatewayLib.pdb
GatewayLogging.xml = ..\..\..\..\..\..\config\SIPGateway\GatewayLogging.xml
InstallSIPGateway.bat = ..\..\..\..\..\..\config\chanmgr\InstallSIPGateway.bat
instsrv.exe = ..\..\..\..\..\..\src\tools\Scripts\ChannelManager\EnvisionSR\instsrv.exe
IPXChannel.dll = ..\..\..\..\..\..\workdir\ChannelManager\IPXChannel.dll
IPXChannel.pdb = ..\..\..\..\..\..\workdir\ChannelManager\IPXChannel.pdb
log4net.dll = ..\..\..\..\..\..\workdir\SharedResources\log4net.dll
JtapiItemService.xml = ..\..\..\..\..\..\config\server\C2CServiceDescriptions\JtapiItemService.xml
log4j.properties.template = ..\..\..\..\..\..\config\sourcerunnerservice\log4j.properties.template
LumiSoft.Net.dll = ..\..\..\..\..\..\workdir\SharedResources\LumiSoft.Net.dll
LumiSoft.Net.pdb = ..\..\..\..\..\..\workdir\SharedResources\LumiSoft.Net.pdb
LumiSoft.Net.xml = ..\..\..\..\..\..\src\Components\LumiSoft_SIP_SDK\LumiSoft.Net.xml
manifest.xml = ..\..\..\..\..\..\config\server\ArchitectureServiceDescriptions\manifest.xml
manifest.xml_1 = ..\..\..\..\..\..\config\server\BIServiceDescriptions\manifest.xml
manifest.xml_2 = ..\..\..\..\..\..\config\server\C2CServiceDescriptions\manifest.xml
manifest.xml_3 = ..\..\..\..\..\..\config\server\EWMServiceDescriptions\manifest.xml
manifest.xml_4 = ..\..\..\..\..\..\config\server\IntegrationsServiceDescriptions\manifest.xml
manifest.xml_5 = ..\..\..\..\..\..\config\server\LoggerServiceDescriptions\manifest.xml
MSSQLUpdate_build_10.0.0303.1.xml = ..\..\..\..\..\..\config\server\DatabaseUpdates\Common\10.0\MSSQLUpdate_build_10.0.0303.1.xml
MSSQLUpdate_build_10.1.2.0.xml = ..\..\..\..\..\..\config\server\DatabaseUpdates\Common\10.1\MSSQLUpdate_build_10.1.2.0.xml
nativeServiceWin32.dll = ..\..\..\..\..\..\workdir\server\nativeServiceWin32.dll
NetMerge.dll = ..\..\..\..\..\..\workdir\ContactSourceRunner\NetMerge.dll
NetMerge.pdb = ..\..\..\..\..\..\src\contactsources\netmerge\Release\NetMerge.pdb
NewEvaluation.aspx = ..\..\..\..\..\..\workdir\centricity\ET\PerformanceManagement\Evaluations\NewEvaluation.aspx
RadEditor.skin = ..\..\..\..\..\..\workdir\centricity\ET\App_Themes\EnvisionTheme\RadEditor.skin
RAL.dll = ..\..\..\..\..\..\workdir\centricity\ET\bin\RAL.dll
RAL.pdb = ..\..\..\..\..\..\workdir\centricity\ET\bin\RAL.pdb
RtpTransmitter.dll = ..\..\..\..\..\..\workdir\ChannelManager\RtpTransmitter.dll
RtpTransmitter.pdb = ..\..\..\..\..\..\workdir\ChannelManager\RtpTransmitter.pdb
server.dll = ..\..\..\..\..\..\workdir\SharedResources\server.dll
server.pdb = ..\..\..\..\..\..\workdir\SharedResources\server.pdb
SIPChannel.dll = ..\..\..\..\..\..\workdir\ChannelManager\SIPChannel.dll
SIPChannel.pdb = ..\..\..\..\..\..\workdir\ChannelManager\SIPChannel.pdb
SIPConfigLib.dll = ..\..\..\..\..\..\workdir\ChannelManager\SIPConfigLib.dll
SIPConfigLib.pdb = ..\..\..\..\..\..\workdir\ChannelManager\SIPConfigLib.pdb
SIP_events.properties = ..\..\..\..\..\..\config\chanmgr\SIP_events.properties
SIPGateway.exe = ..\..\..\..\..\..\workdir\SIPGateway\SIPGateway.exe
SIPGateway.exe.config = ..\..\..\..\..\..\workdir\SIPGateway\SIPGateway.exe.config
SIPGateway.pdb = ..\..\..\..\..\..\workdir\SIPGateway\SIPGateway.pdb
SIPPhone.dll = ..\..\..\..\..\..\workdir\ChannelManager\SIPPhone.dll
SIPPhone.pdb = ..\..\..\..\..\..\workdir\ChannelManager\SIPPhone.pdb
SIPWrapperLib.dll = ..\..\..\..\..\..\workdir\ChannelManager\SIPWrapperLib.dll
SIPWrapperLib.pdb = ..\..\..\..\..\..\workdir\ChannelManager\SIPWrapperLib.pdb
SIPWrapperLib.tlb = ..\..\..\..\..\..\workdir\ChannelManager\SIPWrapperLib.tlb
SIPWrapperLogging.xml = ..\..\..\..\..\..\config\chanmgr\SIPWrapperLogging.xml
SiteToGroupAgentMover.ascx = ..\..\..\..\..\..\workdir\centricity\ET\UserControls\Movers\SiteToGroupAgentMover.ascx
SiteToGroupAgentMover.ascx.resx = ..\..\..\..\..\..\workdir\centricity\ET\UserControls\Movers\App_LocalResources\SiteToGroupAgentMover.ascx.resx
SiteToGroupAgentMover.ascx.de.resx = ..\..\..\..\..\..\workdir\centricity\ET\UserControls\Movers\App_LocalResources\SiteToGroupAgentMover.ascx.de.resx
SiteToGroupAgentMover.ascx.es.resx = ..\..\..\..\..\..\workdir\centricity\ET\UserControls\Movers\App_LocalResources\SiteToGroupAgentMover.ascx.es.resx
sleep.exe = ..\..\..\..\..\..\src\tools\Scripts\ChannelManager\EnvisionSR\sleep.exe
SourceRunnerService.exe = ..\..\..\..\..\..\workdir\ContactSourceRunner\SourceRunnerService.exe
SourceRunnerService.pdb = ..\..\..\..\..\..\workdir\ContactSourceRunner\SourceRunnerService.pdb
srvany.exe = ..\..\..\..\..\..\src\tools\Scripts\ChannelManager\EnvisionSR\srvany.exe
states.BIB.xml = ..\..\..\..\..\..\config\chanmgr\states.BIB.xml
svcmgr.exe = ..\..\..\..\..\..\src\tools\Scripts\ChannelManager\EnvisionSR\svcmgr.exe
TeliaCallGuide.dll = ..\..\..\..\..\..\workdir\ContactSourceRunner\TeliaCallGuide.dll
TeliaCallGuide.pdb = ..\..\..\..\..\..\workdir\ContactSourceRunner\TeliaCallGuide.pdb
TokenService.xml = ..\..\..\..\..\..\config\server\ArchitectureServiceDescriptions\TokenService.xml
Tsapi.dll = ..\..\..\..\..\..\workdir\ContactSourceRunner\Tsapi.dll
Tsapi.pdb = ..\..\..\..\..\..\src\contactsources\tsapi\Release\Tsapi.pdb
UninstallSIPGateway.bat = ..\..\..\..\..\..\config\chanmgr\UninstallSIPGateway.bat
WMWrapperService.exe = ..\..\..\..\..\..\src\winservices\WMWrapperService\bin\Release\WMWrapperService.exe
AVPlayer.application = ..\..\..\..\..\..\workdir\AVPlayer\AVPlayer.application
AgentSupport.exe.deploy = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\AgentSupport.exe.deploy
AVPlayer.exe.config.deploy = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\AVPlayer.exe.config.deploy
AVPlayer.exe.deploy = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\AVPlayer.exe.deploy
AVPlayer.exe.manifest = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\AVPlayer.exe.manifest
CentricityApp.dll.deploy = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\CentricityApp.dll.deploy
hasp_windows.dll.deploy = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\hasp_windows.dll.deploy
Interop.WMPLib.dll.deploy = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\Interop.WMPLib.dll.deploy
log4net.dll.deploy = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\log4net.dll.deploy
nativeServiceWin32.dll.deploy = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\nativeServiceWin32.dll.deploy
server.dll.deploy = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\server.dll.deploy
SharedResources.dll.deploy = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\SharedResources.dll.deploy
ISource.dll.deploy = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\_ISource.dll.deploy
AVPlayer.resources.dll.deploy = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\de\AVPlayer.resources.dll.deploy
AVPlayer.resources.dll.deploy_1 = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\es\AVPlayer.resources.dll.deploy
CentricityApp.resources.dll.deploy = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\de\CentricityApp.resources.dll.deploy
CentricityApp.resources.dll.deploy_1 = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\es\CentricityApp.resources.dll.deploy
AVPlayerIcon.ico.deploy = ..\..\..\..\..\..\workdir\AVPlayer\Application Files\AVPlayer_10_1_14_0\Resources\AVPlayerIcon.ico.deploy
RecordingDownloadTool.application = ..\..\..\..\..\..\workdir\RecordingDownloadTool\RecordingDownloadTool.application
CentricityApp.dll.deploy_1 = ..\..\..\..\..\..\workdir\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\CentricityApp.dll.deploy
log4net.dll.deploy_1 = ..\..\..\..\..\..\workdir\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\log4net.dll.deploy
RecordingDownloadTool.exe.config.deploy = ..\..\..\..\..\..\workdir\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\RecordingDownloadTool.exe.config.deploy
RecordingDownloadTool.exe.deploy = ..\..\..\..\..\..\workdir\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\RecordingDownloadTool.exe.deploy
RecordingDownloadTool.exe.manifest = ..\..\..\..\..\..\workdir\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\RecordingDownloadTool.exe.manifest
server.dll.deploy_1 = ..\..\..\..\..\..\workdir\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\server.dll.deploy
sox.exe.deploy = ..\..\..\..\..\..\workdir\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\sox.exe.deploy
CentricityApp.resources.dll.deploy_2 = ..\..\..\..\..\..\workdir\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\de\CentricityApp.resources.dll.deploy
CentricityApp.resources.dll.deploy_3 = ..\..\..\..\..\..\workdir\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\es\CentricityApp.resources.dll.deploy
RecordingDownloadTool.resources.dll.deploy = ..\..\..\..\..\..\workdir\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\de\RecordingDownloadTool.resources.dll.deploy
RecordingDownloadTool.resources.dll.deploy_1 = ..\..\..\..\..\..\workdir\RecordingDownloadTool\Application Files\RecordingDownloadTool_10_1_14_0\es\RecordingDownloadTool.resources.dll.deploy
gacutil.exe = C:\Source\ETSDK\Microsoft.NET\v3.5\gacutil.exe
InstallUtil.exe = C:\Source\ETSDK\Microsoft.NET\v2.0\InstallUtil.exe
regasm.exe = C:\Source\ETSDK\Microsoft.NET\v2.0\regasm.exe
sc.exe = C:\Source\ETSDK\Microsoft\sc.exe
jtapi.jar = C:\Source\ETSDK\cti_libs\jtapi\jtapi.jar
jtracing.jar = C:\Source\ETSDK\cti_libs\jtapi\jtracing.jar
updater.jar = C:\Source\ETSDK\cti_libs\jtapi\updater.jar
dumpbin.exe = C:\Source\ETSDK\java\LAA-BIN\dumpbin.exe
EnvisionServer.exe = C:\Source\ETSDK\java\LAA-BIN\EnvisionServer.exe
java.exe = C:\Source\ETSDK\java\LAA-BIN\java.exe
javaw.exe = C:\Source\ETSDK\java\LAA-BIN\javaw.exe
