<?xml version="1.0" encoding="utf-8"?>
<document>
  <!--
  <product_suites>
    <suite version="9.10">
    -->
  <!-- <application name="ADIT" installer="adit_installer" /> -->
  <!--
      <application name="AGMS" installer="agms_installer" />
      <application name="Centricity" installer="centricity_installer" />
      <application name="ChannelManager" installer="server_installer" />
      <application name="ContactSourceRunner" installer="server_installer" />
      <application name="DADI" installer="dadi_installer" />
      <application name="DBMigration" installer="dbmigration_installer" />
      <application name="EvaluationConsistencyCheck" installer="ecc_installer" />
      <application name="Server" installer="server_installer" />
      <application name="WebApps" installer="webapps_installer" />
      <application name="WMWrapperService" installer="wmwrapperservice_installer" />
    </suite>
    <suite version="10.0">
    -->
  <!-- <application name="ADIT" installer="adit_installer" /> -->
  <!--
      <application name="AGMS" installer="agms_installer" />
      <application name="Centricity" installer="centricity_installer" />
      <application name="ChannelManager" installer="server_installer" />
      <application name="ContactSourceRunner" installer="server_installer" />
      <application name="DADI" installer="dadi_installer" />
      <application name="DBMigration" installer="dbmigration_installer" />
      <application name="EvaluationConsistencyCheck" installer="ecc_installer" />
      <application name="Server" installer="server_installer" />
      <application name="WebApps" installer="webapps_installer" />
      <application name="WMWrapperService" installer="wmwrapperservice_installer" />
    </suite>
    <suite version="10.1">
    -->
  <!-- <application name="ADIT" installer="adit_installer" /> -->
  <!--
      <application name="AGMS" installer="tools_installer" />
      <application name="Centricity" installer="centricity_installer" />
      <application name="ChannelManager" installer="server_installer" />
      <application name="ContactSourceRunner" installer="server_installer" />
      <application name="DADI" installer="tools_installer" />
      <application name="DBMigration" installer="tools_installer" />
      <application name="EvaluationConsistencyCheck" installer="tools_installer" />
      <application name="Server" installer="server_installer" />
      <application name="WebApps" installer="webapps_installer" />
      <application name="WMWrapperService" installer="wmwrapperservice_installer" />
    </suite>
  </product_suites>
  -->

  <applications>
    <!-- When we add Curie (11.0 or 10.5) to maintenance, we may want to add EnoderSvc, SearchServer and ESMS applications -->
    <!-- Also, ChannelManager and Centricity are back in the server_installer for Curie -->
    <application name="AGMS">
      <version name="9.10" installer="agms_installer" />
      <version name="10.0" installer="agms_installer" />
      <version name="10.1" installer="tools_installer" />
    </application>

    <application name="Centricity">
      <version name="9.10" installer="centricity_installer" />
      <version name="10.0" installer="centricity_installer" />
      <version name="10.1" installer="centricity_installer" />
    </application>

    <application name="ChannelManager">
      <version name="9.10" installer="server_installer" />
      <version name="10.0" installer="channelmanager_installer" />
      <version name="10.1" installer="channelmanager_installer" />
    </application>

    <application name="ContactSourceRunner">
      <version name="9.10" installer="server_installer" />
      <version name="10.0" installer="server_installer" />
      <version name="10.1" installer="server_installer" />
    </application>

    <application name="DADI">
      <version name="9.10" installer="dadi_installer" />
      <version name="10.0" installer="dadi_installer" />
      <version name="10.1" installer="dadi_installer" />
    </application>

    <application name="DBMigration">
      <version name="9.10" installer="dbmigration_installer" />
      <version name="10.0" installer="dbmigration_installer" />
      <version name="10.1" installer="tools_installer" />
    </application>

    <application name="EvaluationConsistencyCheck">
      <version name="9.10" installer="ecc_installer" />
      <version name="10.0" installer="ecc_installer" />
      <version name="10.1" installer="tools_installer" />
    </application>

    <application name="Server">
      <version name="9.10" installer="server_installer" />
      <version name="10.0" installer="server_installer" />
      <version name="10.1" installer="server_installer" />
    </application>

    <application name="WebApps">
      <version name="9.10" installer="webapps_installer" />
      <version name="10.0" installer="webapps_installer" />
      <version name="10.1" installer="webapps_installer" />
    </application>

    <application name="WMWrapperService">
      <version name="9.10" installer="wmwrapperservice_installer" />
      <version name="10.0" installer="wmwrapperservice_installer" />
      <version name="10.1" installer="wmwrapperservice_installer" />
    </application>
  </applications>


  <!-- Hierarchy:
  1: patch
    - Patches are additive.  They have a built-in history, and contain valuable information about what happened when.
    - See notes below.
  2: application
    - don't care (much) about which installer contains them
  3: component
    - including one component per Jira story (PATCH-32, PATCH-78, etc.); let's see how it goes
    - We need some way of segregating them, but I'm already not sure about this idea.  It binds the configs to the
      stories in a way that may not be healthy.  Fortunately, the developers can use whatever partition makes sense
      to them.  This is okay for now.
  4: files
    - including relative paths to sources and targets
    - duplication: live with it


  Q: Single patch or multiple (one per release, cumulative)?
  A: Multiple!
  
  Q: Why?
  A: Imagine the first patch.  It includes just a few files.  For the second patch we add a few more.  Now we've got
     files from two patches, and no sense of where they came from.  Let's not do that.
  
  Q: What about files that are added and later removed?  Will they be included forever once they've been added?
  A: Maybe.  It's something to find a solution for, but maybe not right away.
  -->

  <patch version="10.1.11">
    <application name="Server">
      <!-- The foundational component.  It's an undifferentiated blob which includes everything that came before it. -->
      <component name="foundation">
        <pre>
          <action>
            <!-- run batch scripts or whatever before installing the files -->
          </action>
        </pre>
        <files>
          <file source="" target="" />
          <file source="" target="" />
        </files>
        <post>
          <action>
            <!-- run batch scripts or whatever after installing the files -->
          </action>
        </post>
      </component>
    </application>

    <application name="ChannelManager">
      <component name="foundation">
        <files>
          <file source="" target="" />
          <file source="" target="" />
        </files>
      </component>
    </application>

    <application name="DBMigration">
      <component name="DBMigration_84SP9_To_10.sql">
        <files>
          <file source="${toolsRoot}\DBMigration\DBMigration_84SP9_To_10.sql" target="APPDIR" />
          <ROW File="DBMigration_84SP9_To_10.sql" Component_="DBMigration_84SP9_To_10.sql" FileName="DBMigr~1.sql|DBMigration_84SP9_To_10.sql" Attributes="0" SourcePath="src\tools\DBMigration\v2\DBMigration_84SP9_To_10.sql" SelfReg="false" Sequence="68"/>
        </files>
      </component>
    </application>

    <application name="WebApps">
      <component name="foundation">
        <files>
          <file source="" target="" />
          <file source="" target="" />
        </files>
      </component>
    </application>

    <application name="WMWrapperService">
      <component name="foundation">
        <files>
          <file source="" target="" />
          <file source="" target="" />
        </files>
      </component>
    </application>
  </patch>


  <patch version="10.1.14">
    <application name="Server">
      <component name="PATCH-114">
        <pre>
          <action>
            <!-- run batch scripts or whatever before installing the files -->
          </action>
        </pre>
        <files action="add">
          <file source="" target="" />
          <file source="" target="" />
        </files>
        <files action="remove">
          <file target="" />
        </files>
        <post>
          <action>
            <!-- run batch scripts or whatever after installing the files -->
          </action>
        </post>
      </component>
    </application>

    <application name="ChannelManager">
      <component name="PATCH-114">
        <pre>
          <action>
            <!-- run batch scripts or whatever before installing the files -->
          </action>
        </pre>
        <files action="add">
          <file source="" target="" />
          <file source="" target="" />
        </files>
        <files action="remove">
          <file target="" />
        </files>
        <post>
          <action>
            <!-- run batch scripts or whatever after installing the files -->
          </action>
        </post>
      </component>
    </application>

    <application name="Centricity">
      <component name="PATCH-78">
        <pre>
          <action>
            <!-- run batch scripts or whatever before installing the files -->
          </action>
        </pre>
        <files action="add">
          <file source="" target="" />
          <file source="" target="" />
        </files>
        <files action="remove">
          <file target="" />
        </files>
        <post>
          <action>
            <!-- run batch scripts or whatever after installing the files -->
          </action>
        </post>
      </component>
    </application>
  </patch>

</document>
